* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 마우스 올릴때 배경색 변환 공통 */
.bgChange:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
/* 마우스 올릴때 배경색 변환 공통 */
/* 고딕 폰트 */
.gothic-a1-regular {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.gothic-a1-bold {
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* 고딕 폰트 */
.notionWrap {
  display: flex;
}
/* 사이드바 */
.notionWrap__sideBar {
  width: 240px;
  height: 100vh;
  padding: 10px;
  background-color: #f7f7f5;
  position: relative;
  transition: all 0.5s;
}
/* 좌측 최상단 유저 선택 버튼 */
.userBtn {
  width: 100%;
  height: 30px;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: block;
  position: relative;
}
/* 유저 버튼 */
.selectUser {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.selectUser__text {
  position: relative;
}
.selectUser__text::before {
  content: "";
  width: 7px;
  height: 1px;
  border-radius: 5px;
  display: block;
  background-color: rgba(55, 53, 47, 0.45);
  position: absolute;
  transform: translate(-50%, -50%);
  transform: rotate(-45deg);
  top: 50%;
  right: -17px;
}
.selectUser__text::after {
  content: "";
  width: 7px;
  height: 1px;
  border-radius: 5px;
  display: block;
  background-color: rgba(55, 53, 47, 0.45);
  position: absolute;
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
  top: 50%;
  right: -13px;
}
/* 숨은 메뉴 */
.hideMenuBox {
  width: 250px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.2s;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 99;
}
.hideMenuBox.on {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.hideMenuBox__info {
  height: 50px;
  border-bottom: solid 1px #d3d1cb;
}
.hideMenuBox__hideUserList {
  width: 100%;
}
.hideMenuBox__hideListItem {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.hideMenuBox__userLink {
  width: 100%;
}
/* 새 글 작성 아이콘 */
/* 새 글 작성 아이콘 및 숨기기 아이콘 */
.iconGroup {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrowIcon__img,
.buildIcon__img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* 열기 아이콘 */
.openBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  margin-left: 3px;
}
/* 사이드바 숨김 */
.notionWrap__sideBar.hidden {
  transform: translateX(-100%);
  width: 0;
}
/* 사이드 - 개인 페이지 */
.personalPage {
  position: relative;
}
.personalPage__toggleBtnWrap {
  position: relative;
}
.personalPage__toggleBtn {
  width: 100%;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 12px;
  color: gray;
  cursor: pointer;
}
.personalPage__PageList {
  display: none;
  height: 400px;
  overflow-y: auto;
}
.personalPage__PageList.on {
  display: block;
}
.personalPage__PageList::-webkit-scrollbar {
  display: none;
}
.personalPage__ListItem {
  width: 100%;
  padding: 5px 3px; 
  border-radius: 5px;
  position: relative;
}
.ListItem__buildBtn {
  visibility: hidden;
  opacity: 0;
  width: 20px;
  height: 20px;
  padding: 3px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5px;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
.ListItem__underBtn {
  width: 20px;
  height: 20px;
  padding: 3px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0px;
  border-radius: 5px;
  cursor: pointer;
}
.ListItem__delBtn {
  visibility: hidden;
  opacity: 0;
  width: 20px;
  height: 20px;
  padding: 3px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 30px;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
.ListItem__addBtn {
  visibility: hidden;
  opacity: 0;
  width: 20px;
  height: 20px;
  padding: 3px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5px;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
.personalPage__ListItem:hover > .ListItem__addBtn,
.personalPage__ListItem:hover > .ListItem__delBtn,
.personalPage__toggleBtnWrap:hover > .ListItem__buildBtn {
  visibility: visible;
  opacity: 1;
}
.ListItem__pageLink {
  width: 100%;
  height: 100%;
  display: block;
  padding-left: 20px;
}
.ListItem__pageLink > span {
  display: block;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.personalPage__ListItem--next {
  padding-left: 10px;
}
/* 메인 페이지 */
.editor {
  width: calc(100% - 240px);
  height: 100vh;
  background-color: #fff;
  padding: 20px;
}
.notionWrap__section {
  cursor: text;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
}

.notionWrap__section_add {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.notionWrap__section_add div {
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
  color: #b9b8b6;
  font-size: 14px;
  cursor: pointer;
}

.notionWrap__section_title {
  caret-color: rgb(55, 53, 47);
  font-size: 40px;
  line-height: 40px;
  padding: 3px 2px;
  width: 100%;
  max-width: 710px;
}

.notionWrap__section_title input {
  all: unset;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.notionWrap__section_title input::placeholder {
  color: #e1e1e0;
}

.textarea-wrapper {
  width: 100%;
  max-width: 710px;
}

.notionWrap__section_text textarea {
  color: black;
  border: none;
  font-size: 16px;
  line-height: 24px;

  resize: none; /* 크기 조정 비활성화 */
  width: 100%;
  outline: none;

  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.textareas {
  color: black;
  border: none;
  font-size: 16px;
  line-height: 24px;

  resize: none; /* 크기 조정 비활성화 */
  width: 100%;
  outline: none;

  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.textareas::-webkit-scrollbar {
  display: none;
}

.notionWrap__section_text textarea:empty::before {
  content: attr(placeholder);
  color: gray;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
}
.textareas :empty::before {
  content: attr(placeholder);
  color: gray;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
}

.add-textarea-btn {
  position: absolute;
  top: -7px;
  left: -30px;
  background-color: white;
  color: #b8b8b3;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: none; /* 기본적으로 숨김 */
  cursor: pointer;
}
/* textarea hover 시 + 버튼 보이기 */
.textarea-wrapper:hover .add-textarea-btn {
  display: block;
}

.notionWrap__section_newPage {
  display: flex;
  justify-content: flex-start;
  margin-top: 21px;
  cursor: pointer;
  width: 100%;
  max-width: 710px;
}

.notionWrap__section_newPage-text {
  margin-left: 5px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #efefee;
  text-underline-offset: 5px;
}

.nav {
  height: 44px;
}
