* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* page container */
.notion-body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", "Noto Sans KR", sans-serif;
}

/* sidebar */
.sidebar {
  width: 248px;
  height: 100%;
  background-color: rgb(247, 247, 245);
  box-shadow: rgba(0, 0, 0, 0.02, 4);
  /* children */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__header {
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.sidebar__header::after {
  background-color: black;
  width: 100%;
}

.header__icon {
  width: 20px;
  height: 20px;
}

.list {
  flex-grow: 1;
}

.list__header {
  font-size: 12px;
  line-height: 1;
  color: rgb(145, 145, 142);
  font-weight: 500;
}

.list__page {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.page__link {
  display: flex;
  font-size: 14px;
  flex-grow: 1;
}

/* main Page */
.main {
  height: 100%;
  background-color: white;
  flex-grow: 1;
}
