@import url("/styles/variables.css");

.editor {
  height: 100%;
  padding-top: 105px;
  padding-inline: 110px;
  display: flex;
  justify-content: center;
  color: var(--black300);
}
.editor__body {
  width: 100%;
}

.editor h1 {
  font-size: 2.28rem;
  font-weight: bolder;
  padding: 2px 4px;
  margin-bottom: 15px;
}

#editor__title-input {
  font-size: inherit;
  font-weight: inherit;
}

.editor textarea {
  font-size: 1.14rem;
  padding: 2px 4px;
}
