@import url("/styles/variables.css");

.screen__pageView {
  flex: 1; /* 남은 공간 모두 차지 */
  display: flex;
  flex-direction: column;
}
.pageView__breadCrumbs {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}
.margin-left250 {
  margin-left: 250px;
}
