@import url("/styles/variables.css");

.screen__sidebar {
  box-sizing: border-box;
  min-width: 250px;
  transition: min-width 0.3s ease;
  background-color: var(--gray100);
  padding-inline: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.screen_miniSidebar {
  position: absolute;
  left: 12px;
  top: 40px;
  height: fit-content;
  background-color: white;
  box-shadow: var(--box-shadow300);
  border-radius: 4px;
}
.sidebar__pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 0.86rem 1rem;
}
.sidebar__titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
}
.space_name {
  padding-top: 0.4rem;
}
.sidebar__menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sidebar__menuWrapper--documets {
  padding: 0 8px;
}
.sub-document-list {
  padding-left: 1.42rem;
  list-style-type: none;
  display: none;
}
.sidebar__menuWrapper--documet {
  height: 30px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

/* 사이드 바 내부 document list의 item에 적용할 스타일 */
.document-content,
.sidebar__menuWrapper--document {
  border-radius: 4px;
  display: block;
  padding: 5px 8px;
  position: relative;
}
.add-subdoc-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
  background-color: transparent;
  border: none;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
  padding: 1px 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1.2rem;
  color: var(--black200);
}
.sidebar__menuWrapper a.document-content {
  display: inline-block;
  padding: 10px 16px;
}
.sidebar__menuWrapper a.document-content:hover {
  background-color: var(--bg100);
  color: var(--black200);
  transition: background-color 0.2s ease;
}

.sidebar__menuWrapper--document:hover .add-subdoc-btn {
  opacity: 1;
  visibility: visible;
}

.add-subdoc-btn:hover {
  background-color: var(--bg200);
}

/* hover, active 스타일도 transition 추가 */
.hover__document-item {
  background-color: var(--bg100);
  color: var(--black200);
  transition: background-color 0.2s ease;
}

.acitve__document-item {
  background-color: var(--bg200);
  transition: background-color 0.2s ease;
}

/* 사이드바 아이콘 */
.sideBar__button {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;

  background: none;
  cursor: pointer;
}
.sideBar__button:hover {
  background-color: var(--bg100);
  border-radius: 4px;
}
.sidebar__icon {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}
.sidebar__iconWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* 사이드바 숨기기 css */
.sidebar__hide {
  min-width: 0px;
  width: 0px;
  padding: 0px;
  transform: translateX(-250px);
  display: none;
}
